* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-col: #121927;
  --hover-white: rgba(255, 255, 255, 0.541);
  --viewers-border: rgba(150, 147, 147, 0.171);
  --hover-border: rgba(150, 147, 147, 0.589);
  --shadow-1: rgb(0, 0, 0, 69%) 0 26px 30px -10px,
    rgb(0, 0, 0, 73%) 0 16px 10px -10px;
  --hover-shadow: rgb(0, 0, 0) 0 26px 30px -10px,
    rgb(0, 0, 0, 73%) 0 16px 10px -10px;
}

html {
  font-size: 62.5%;
  font-family: Roboto, HelveticaNeue-Light, sans-serif;
  overflow-x: hidden;
}
body {
  color: white;
}

a {
  text-decoration: none;
}
